@import 'tailwindcss';

@theme {
  --color-primary: #0a57ce;
  --color-secondary: #d761e8;
  --color-thirdly: #bbdefb;
  --color-danger: #e41111;
  --color-warning: #ffa500;
  --color-success: #10a110;
  --color-info: #d9d9d9;
  --color-title: #2d2f31;
  --color-content: #4c5157;
  --color-assist: #848990;
  --color-tip: #d5dae0;
  --color-price: #ff4d00;
  --color-muted: #f5f5f5; /* 灰色背景 */
  --color-line: #d9d9d9; /* 灰色边框 */
  --color-ice: #f3f8ff; /* 蓝色背景 */
  --color-navy: #132a51; /* 海军蓝 */
  --color-steel: #c0c4cc; /* 钢灰色 */
  --color-slate: #909399; /* 淡灰色 */
  --color-linen: #eeebeb; /* 淡褐色 */
  --color-charcoal: #606266; /* 煤黑色 */
}

/* Utilities layers - 组件层 */
@import './components/forms.css';

/* Utilities layers - 工具层 */
@import './utilities/animations.css';
@import './utilities/layout.css';

/* Vendor overrides - 第三方库样式覆盖 */
@import './vendor/primevue.css';
@import './vendor/editor.css';
