@layer utilities {
  /* 动画效果 */
  .fade-enter-active,
  .fade-leave-active {
    @apply transition-all duration-300;
  }

  .fade-enter-from,
  .fade-leave-to {
    @apply -translate-y-1 transform opacity-0;
  }

  @keyframes scrollX {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  .animate-scroll-x-60 {
    animation: scrollX 60s linear infinite;
  }

  .animate-scroll-x-50 {
    animation: scrollX 50s linear infinite;
  }

  .animate-scroll-x-55 {
    animation: scrollX 55s linear infinite;
  }
}
